li{
    list-style: none;
}

*{
    box-sizing: border-box;
}


.container{
    width: 100%;
    margin: 0 auto;
}

header{
    height: 45px;
}

header .container{
    background-color: whitesmoke;
    position: fixed;
    z-index: 10;
    top:0;
}

.header-logo h3{
    float: left;
    padding-left: 40px;
}

.header-list{
    float: right;
    padding-right: 50px;
}

.header-list li{
    float: left;
    font-size: 15px;
    padding: 5px 15px;
}

.top-title{
    height: 400px;
    background-image: url(main-vsual-nontitle.png);
    background-size: cover;
    text-align: center;
    padding: 100px 0;
}

.explan-wrapper{
    float: left;
    padding: 30px 0;
    width: 100%;
    text-align: center;
}

.about-dt{
    margin: 0 auto;
 width: 70%;
}

.about-dt img{
    width: 50%;
    float: left;
}

.course-wrapper{
    text-align: center;
    width: 100%;
}

.course-title{
    padding-top: 40px;
}

.course img{
    width: 90%;
}

.course{
    float: left;
    width: 33%;
    padding:25px;
}

.massage-wrapper{
    height: 300px;
    text-align: center;
    margin: 50px 0;
}

.text{
    width: 300px;
    opacity: 0.7;
}

.btn{
    background-color:rgb(179, 15, 15) ;
    color:white;
    font-weight: bold;
    border-radius: 10px;
    display: inline-block;
    padding: 10px 20px;
    margin: 30px 0;
    
}

.btn:hover{
    color: white;
    opacity: 0.7;
}

.clear{
    clear: left;
}

@media(max-width:1200px){
.course{
    width: 50%;
    flex-wrap: wrap;
}
}

@media(max-width:670px){

.explan-wrapper{
    margin:auto;
}
.about-dt p{
    font-size: 13px;
    float: left;
}
.course{
   width: 100%;
   flex-direction: column;
}
}